{% macro render_field_with_errors(field, hint, label=True) %}
  <div class="form-field">
    {% if field.type != 'BooleanField' %}
        {% if label %} {{ field.label }} {% endif %} {{ field(**kwargs)|safe }}
    {% else %}
        {{ field(**kwargs)|safe }}
        {% if label %}{{ field.label }}{% endif %}
    {% endif %}
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li class="error">{{ error|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if hint %}
        <div class="form-field-hint muted">{{ hint }}</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}

{% macro pagination(paginator, route) -%}
  <div class="pagination">
    {% if paginator.has_prev %}
        <a class="prev_page" rel="prev" href="{{ url_for(route, page=paginator.prev_num) }}">
            <span class="icon-left-arrow"></span>
        </a>
    {% endif %}
    {% for page in range(1, paginator.pages + 1) %}
        {% if page == paginator.page %}
            <em class="current">{{ page }}</em>
        {% else %}
            <a href="{{ url_for(route, page=page) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
        <a class="next_page" rel="next" href="{{ url_for(route, page=paginator.next_num) }}">
            <span class="icon-right-arrow"></span>
        </a>
  </div>
  {% endif %}
{%- endmacro %}

{% macro post_item(post) -%}
    <div class="issue--post" style="margin-top: {{range(-4, 12)|random}}em;margin-left: {{[0,0,2,4]|random}}%;margin-right: {{[2,2,4]|random}}%;width:{{[240, 280, 280, 320, 320, 440]|random}}px">
        {% if post.print_only %}
            <a href="{{ post.issue.store_url }}">
        {% else %}
            <a href="{{ url_for('main.post', slug=post.slug, issue=post.issue.slug) }}">
        {% endif %}
            {% if post.image %}
                <div class="post--image" style="width:{{[50, 75, 100, 100, 100]|random}}%">
                    {% if post.print_only %}<div class="post--print-only">Visit Store</div>{% endif %}
                    <div class="img-wrap" style="{% if post.image.height %}padding-bottom:{{ post.image.height/post.image.width * 100}}%;{% endif %}">
                        <img src="{{ post.image.path }}" alt="{{ post.image.desc }}" title="{{ post.image.desc }}" />
                    </div>
                </div>
            {% else %}
                <div class="post--image" style="width:{{[50, 75, 100, 100, 100]|random}}%">
                    {% if post.print_only %}<div class="post--print-only">Visit Store</div>{% endif %}
                    <div class="img-wrap">
                        <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="Placeholder" title="Placeholder" />
                    </div>
                </div>
            {% endif %}
        </a>
        {% if post.print_only %}
            <a href="{{ post.issue.store_url }}">
        {% else %}
            <a href="{{ url_for('main.post', slug=post.slug, issue=post.issue.slug) }}">
        {% endif %}
            <h4>{{ post.title }}</h4>
        </a>
        {% if post.event %}
            <h6>{{ post.event }}</h6>
        {% else %}
            {% if post.print_only %}
                <h6>{{ post.authors|join(', ', 'name') }} <span class="post--category">— Print Exclusive</span></h6>
            {% elif post.category %}
                <h6>{{ post.authors|join(', ', 'name') }} <span class="post--category">— {{ post.category|title }}</span></h6>
            {% else %}
                <h6>{{ post.authors|join(', ', 'name') }}</h6>
            {% endif %}
        {% endif %}
    </div>
{%- endmacro %}
