{% extends 'layout.html' %}

{% block content %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'></script>
<script src='//artfully-herokuapp-com.global.ssl.fastly.net/assets/artfully-v3.js' type='text/javascript'></script>
<link href='//artfully-herokuapp-com.global.ssl.fastly.net/assets/themes/default.css' media='screen' rel='stylesheet' type='text/css'>
<script type='text/javascript'>
  jQuery(document).ready(function(){
    artfully.widgets.cart();
    artfully.widgets.donation().display(5905, []);
    artfully.widgets.cart().display();
  });
</script>

<div id="donate" class="content">
    <h1>Support Us</h1>
    <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="Placeholder" title="Placeholder" />
    <h2>Donate to unbag!</h2>
    <p>unbag is a semi-annual magazine that promotes critical engagement with contemporary art and politics. Commissioning artists, writers, and thinkers who work outside of mainstream discourse, unbag functions as a space to explore ideas through discussion and exchange.</p>
    <div id='donation'></div>
</div>
{% endblock %}
