{% from "_macros.html" import post_item %}
{% extends 'layout.html' %}

{% block content %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'></script>
<script src='//artfully-herokuapp-com.global.ssl.fastly.net/assets/artfully-v3.js' type='text/javascript'></script>
<link href='//artfully-herokuapp-com.global.ssl.fastly.net/assets/themes/default.css' media='screen' rel='stylesheet' type='text/css'>
<script type='text/javascript'>
  jQuery(document).ready(function(){
    artfully.widgets.cart();
    artfully.widgets.donation().display(5905, []);
    artfully.widgets.cart().display();
  });
</script>

<div id="donate" class="content">
    <h1>Support Us</h1>
    <img src="/uploads/Donate_page_animation_2.gif" alt="Placeholder" title="Placeholder" />
    <h2>Donate to unbag!</h2>
    <p>Support for unbag goes directly to artist honoraria, printing and production costs, fees for planning our expansion, and public programming costs.</p>
    <p>unbag is a New York City-based community arts organization and network founded to create platforms for critical dialogue at the intersection of art and politics.</p>
    <p>We are a collective of artists, writers, technologists, and urbanists interested in centering discourses normally left out of mainstream art dialog, be it on the basis of race, gender identification, nationality, class, access to education, or institutional representation. We produce print publications, web projects, exhibitions, conversations, and other public events.</p>
    <div id='donation'></div>
</div>
<div class="issues focused-issues" style="background-color:{{ current_issue.color }}">
    <a class="anchor" name="current-issue"></a>
    <div class="issue issue-current">
        {% if current_issue.name == 'Programs' %}
            <h2 class="section-subtitle"><div class="section-subtitle-contents" style="background-image:url('{{ url_for('static', filename='oval.svg') }}')">Programs</div></h2>
            <div class="content">
                {% for post in current_issue.published_events %}
                    {{ post_item(post) }}
                {% endfor %}
            </div>
        {% else %}
            <a href="{{ url_for('main.issue', slug=current_issue.slug) }}"><h2 class="section-title">{{ current_issue.name }}</h2></a>
            <h2 class="section-subtitle"><div class="section-subtitle-contents" style="background-image:url('{{ url_for('static', filename='oval.svg') }}')">Contents</div></h2>
            <div class="content">
                {% for post in current_issue.published_posts %}
                    {{ post_item(post) }}
                {% endfor %}
            </div>
            {% if current_issue.published_events %}
                <div class="events">
                    <h2 class="section-subtitle"><div class="section-subtitle-contents" style="background-image:url('{{ url_for('static', filename='oval.svg') }}')">Programs</div></h2>
                    <div class="content">
                        {% for post in current_issue.published_events %}
                            {{ post_item(post) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% for issue in issues %}
        {% if issue != current_issue %}
            <div class="issue">
                <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title issue-{{ issue.id }}">{{ issue.name }}</h2></a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
