{% extends 'layout.html' %}

{% block content %}
{% for issue in issues %}
    {% if issue == current_issue %}
        <div class="issue issue-focused">
            <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title">{{ issue.name }}</h2></a>
            {% for post in issue.posts %}
                <a href="{{ url_for('main.post', slug=post.slug) }}">{{ post.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div class="issue">
            <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title issue-{{ issue.id }}">{{ issue.name }}</h2></a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}


