{% from "_macros.html" import post_item %}
{% extends 'layout.html' %}

{% block content %}
<div class="issue issue-focused">
    <a href="{{ url_for('main.issue', slug=current_issue.slug) }}"><h2 class="section-title">{{ current_issue.name }}</h2></a>
    <div class="content">
        {% for post in current_issue.posts %}
            {{ post_item(post) }}
        {% endfor %}
    </div>
</div>
{% for issue in issues %}
    {% if issue != current_issue %}
        <div class="issue">
            <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title issue-{{ issue.id }}">{{ issue.name }}</h2></a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}


