{% macro header(shadow=False) -%}
    {# shadow header to properly push down other elements #}
    <header {% if shadow %}style="position:relative;z-index:-1;"{% endif %} class="primary-header">
        <div class="header--meta">
            <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='logo.svg') }}" alt="Unbag logo" title="Unbag" class="header--brand"></a>
            <div class="header--current-issue">
                <a href="#current-issue">{{ current_issue }}</a>
            </div>
            {% if current_post %}
                <div class="header--current-post">
                    <div class="marquee3k-size"><em>{{ current_post.title }}</em>, {{ current_post.authors|join(', ', 'name') }}</div>
                    <div class="marquee3k" data-speed="0.15" data-pausable="true"><div><em>{{ current_post.title }}</em>, {{ current_post.authors|join(', ', 'name') }}</div></div>
                </div>
            {% endif %}
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.events') }}">Events</a></li>
                <li><a href="{{ url_for('main.donate') }}">Donate</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="https://store.unbag.net">Shop</a></li>
            </ul>
        </nav>
    </header>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% if current_post %}
      <title>unbag - {{ current_post.title }}</title>
  {% elif current_issue %}
      <title>unbag - {{ current_issue }}</title>
  {% else %}
      <title>unbag</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    {% for issue in issues %}
        .issue-{{ issue.id }}:hover {
            background: {{ issue.color }};
        }
    {% endfor %}
  </style>
</head>

<body class="preload">
    {% include "_messages.html" %}
    <main>
        {{ header() }}
        {{ header(shadow=True) }}
        {% block content %}
        {% endblock %}
        <div class="about">
            <a class="anchor" name="about"></a>
            <h2 class="section-title">About</h2>
            <div class="content">
                <p>unbag is a semi-annual magazine that promotes critical engagement with contemporary art and politics. Commissioning artists, writers, and thinkers who work outside of mainstream discourses, unbag functions as a space to explore ideas through discussion and exchange</p>
                <div class="masthead">
                    <div class="masthead--group">
                        <em>Editors</em>
                        <ul>
                            <li>Aaron Cooper</li>
                            <li>Natalia Tuero Germán</li>
                            <li>Mylo Mendez</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Art Direction &amp; Design</em>
                        <ul>
                            <li>American Artist</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Web Development</em>
                        <ul>
                            <li>Francis Tseng</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Operations &amp; Production</em>
                        <ul>
                            <li>Andy Wentz</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Development</em>
                        <ul>
                            <li>Allison Jordan</li>
                            <li>Addison Vawters</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Digital Communications</em>
                        <ul>
                            <li>Minhee Bae</li>
                        </ul>
                    </div>
                    <div class="masthead--group">
                        <em>Events</em>
                        <ul>
                            <li>Nevona Friedman</li>
                        </ul>
                    </div>
                </div>
                <div class="social">
                    <p>Visit us on Facebook:<br /><a href="https://facebook.com/unbag">facebook.com/unbag</a></p>
                    <p>Follow us on Instagram:<br /><a href="https://instagram.com/unbagnyc">instagram.com/unbagnyc</a></p>
                    <p>Reach us at:<br /><a href="mailto:info@unbag.net">info@unbag.net</a></p>
                    <p>Sign up for News and Updates:<br />(newsletter url)</p>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/marquee3k.js') }}"></script>
    <script>
        window.onload = function() {
          document.body.classList.remove("preload");
        }

        Marquee3k.init();
    </script>
</body>
</html>
