{% from "_macros.html" import post_item %}
{% extends 'layout.html' %}

{% block content %}
    <div class="post {{'post-tag-' ~ current_post.tags_list|join(" post-tag-")}}">
        <div class="content">
            <h1>{{ current_post.title }}</h1>
            <h2>{{ current_post.authors|join(', ', 'name') }}</h2>
            <div class="post--body">
                {{ current_post.html|safe }}
            </div>
        </div>
    </div>
    <div class="footer-issues" style="background-color:{{ current_issue.color }}">
        <div class="issue issue-focused">
            <a href="{{ url_for('main.issue', slug=current_issue.slug) }}"><h2 class="section-title">{{ current_issue.name }}</h2></a>
            <h2 class="section-subtitle"><div class="section-subtitle-contents" style="background-image:url('{{ url_for('static', filename='oval.svg') }}')">Contents</div></h2>
            <div class="content">
                {% for post in current_issue.published_posts %}
                    {{ post_item(post) }}
                {% endfor %}
            </div>
        </div>
        {% for issue in issues %}
            {% if issue != current_issue %}
                <div class="issue">
                    <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title issue-{{ issue.id }}">{{ issue.name }}</h2></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
