{% from "shop/_macros.html" import store_item %}
{% extends 'layout.html' %}

{% block content %}
<div class="issues focused-issues shop">
    <a class="anchor" name="current-issue"></a>
    <div class="issue issue-current issue-focused">
        <h2 class="section-subtitle"><div class="section-subtitle-contents" style="background-image:url('{{ url_for('static', filename='oval.svg') }}')">Store</div></h2>
        <div class="content">
            {% for p in products %}
                {{ store_item(p) }}
            {% endfor %}
            {% for p in plans %}
                {{ store_item(p) }}
            {% endfor %}
        </div>
    </div>
    {% for issue in issues %}
        <div class="issue">
            <a href="{{ url_for('main.issue', slug=issue.slug) }}"><h2 class="section-title issue-{{ issue.id }}">{{ issue.name }}</h2></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
