{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>Help</h1>
</header>
<div>
Posts are written in Markdown, which is like a simpler form of HTML:
<pre>
Bold
**text**

Italic
_text_

Image
![Caption text](https://image/url.jpg)

Full-bleed image
![Caption text](https://image/url.jpg){.full-width}

Half-column image
![Caption text](https://image/url.jpg){.half-width}

Link
[Link text](https://url.com)

Section header
## Section title

Lists
- a
- b
- c

Footnotes
This is some text[^1].

[^1]: This is a footnote

Horizontal rule
---

And any HTML is valid too
</pre>

<h2>Other tips:</h2>

<ul>
    <li>Add <code>gallery-image</code> as a class to an <code>a</code> tag linking to an image to show it in a lightbox on click. For example: <code>&lt;a href="/uploads/foo.png" class="gallery-image"&gt;&lt;img src="/uploads/foo.png"&gt;&lt;/a&gt;</code></li>
</ul>

</div>
{% endblock %}

