{% from "_macros.html" import render_field_with_errors, render_field %}
{% extends 'admin/layout.html' %}

{% block content %}
<h1>Issue</h1>
<form method="POST" action="{{ action }}">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.name) }}
  {{ render_field_with_errors(form.edition) }}
  {{ render_field_with_errors(form.color) }}
  {{ render_field_with_errors(form.store_url) }}
  {{ render_field_with_errors(form.published) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
{% endblock %}



