{% macro render_field_with_errors(field, hint, label=True, extras=None) %}
    <div id="form-field-{{field.id}}" class="form-field form-field-{{field.type}}">
    {% if extras %}
        <div class="form-field--extras">
            {% for k, v in extras.items() %}
                <div id="{{k}}">{{v}}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if field.type != 'BooleanField' %}
        {% if label %} {{ field.label }} {% endif %} {{ field(**kwargs)|safe }}
    {% else %}
        {{ field(**kwargs)|safe }}
        {% if label %}{{ field.label }}{% endif %}
    {% endif %}
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li class="error">{{ error|safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if hint %}
        <div class="form-field-hint">{{ hint }}</div>
    {% endif %}
    <div class="form-field-errors"></div>
  </div>
{% endmacro %}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}

{% macro pagination(paginator, route) -%}
  <div class="pagination">
    {% if paginator.has_prev %}
        <a class="prev_page" rel="prev" href="{{ url_for(route, page=paginator.prev_num) }}">
            <span class="icon-left-arrow"></span>
        </a>
    {% endif %}
    {% for page in range(1, paginator.pages + 1) %}
        {% if page == paginator.page %}
            <em class="current">{{ page }}</em>
        {% else %}
            <a href="{{ url_for(route, page=page) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
        <a class="next_page" rel="next" href="{{ url_for(route, page=paginator.next_num) }}">
            <span class="icon-right-arrow"></span>
        </a>
  </div>
  {% endif %}
{%- endmacro %}

{% macro media_gallery(media, selected_image, image_field) -%}
  <template id="gallery-item">
      <textarea placeholder="Describe this image"></textarea>
      <div class="gallery-item-actions">
          <div class="set-image" title="Set as the social media image."><img src="/admin/static/star.png" /></div>
          <div class="copy-image" title="Copy markdown for this image to clipboard."><img src="/admin/static/copy.png" /></div>
      </div>
  </template>

  <div class="media-gallery">
      <h3>
          <div>Media</div>
          <button id="js-start-media-upload">Upload</button>
          <input id="media-upload-file" type="file" multiple />
      </h3>
      <div class="gallery">
        {% for m in media %}
            <div class="gallery-item {{ 'selected' if m == selected_image }}"
                 id="{{ m.id }}"
                 data-desc="{{ m.desc }}"
                 data-url="{{ m.path }}">
                <img src="{{ m.thumburl }}" />
            </div>
        {% endfor %}
      </div>
    {{ image_field }}
  </div>
  <script>
    // Media-related functionality;
    // i.e. uploading, editing descriptions, selecting, etc.
    function bindMediaItem(el) {
        let desc = el.dataset.desc || '';

        const template = $('#gallery-item');
        const clone = template.content.cloneNode(true);
        el.appendChild(clone);

        const textarea = el.querySelector('textarea');
        textarea.value = desc;
        textarea.addEventListener('blur', (ev) => {
            desc = ev.target.value;
            api.post(`/admin/media/${el.id}`, {
                desc: desc,
            }, csrfToken);
        });

        el.querySelector('.copy-image').addEventListener('click', () => {
            let text = `![${desc}](${el.dataset.url})`;
            navigator.clipboard.writeText(text);
            toast('Copied!', 1000);
        });
        el.querySelector('.set-image').addEventListener('click', () => {
            let current = $('.gallery-item.selected');
            if (current) current.classList.remove('selected');
            el.classList.add('selected');
            $('#image, #post-image').value = el.id;;
            toast('Set as social media image!', 1000);
        });
    }
    document.querySelectorAll('.gallery-item').forEach(bindMediaItem);

    const uploadInput = $('#media-upload-file');
    const gallery = $('.gallery');
    const mediaIdsInput = $('#media, #post-media');
    $('#js-start-media-upload').addEventListener('click', (ev) => {
        ev.preventDefault();
        uploadInput.value = null;
        uploadInput.click();
        return false;
    });
    uploadInput.addEventListener('change', (ev) => {
        Array.from(ev.target.files).forEach((file) => {
            api.post('/admin/media', {
                file: file,
                desc: '',
            }, csrfToken)
                .then((json) => {
                    if (json.success) {
                        let div = el({
                            tag: 'div',
                            id: json.id,
                            className: 'gallery-item',
                            dataset: {
                                url: json.url,
                            },
                            children: [{
                                tag: 'img',
                                src: json.thumb
                            }]
                        });
                        bindMediaItem(div);

                        gallery.insertBefore(div, gallery.firstChild);
                        mediaIdsInput.value = mediaIdsInput.value
                            .split(',')
                            .filter((id) => id.length > 0)
                            .concat([json.id])
                            .join(',');
                    }
                });
        });
    });
  </script>
{%- endmacro %}
