{% from "admin/_macros.html" import render_field_with_errors, render_field, media_gallery %}
{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>Event</h1>
    <div>
        {% if post %}
            <div><a href="{{ url_for('taozi.post', slug=post.slug, issue=post.issue.slug) }}" target="_blank">
                {{ 'View' if post.published else 'Preview' }}
            </a></div>
        {% endif %}
    </div>
</header>
<form method="POST" action="{{ action }}">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {{ form.post.hidden_tag() }}
  <div class="column-2">
    {{ render_field_with_errors(form.start) }}
    {{ render_field_with_errors(form.end) }}
  </div>
  {{ render_field_with_errors(form.ignore_time) }}
  {{ render_field_with_errors(form.post.title) }}
  {{ render_field_with_errors(form.post.slug, 'Current slug: ' + post.slug if post else '', extras={'regenerate-slug': '🗘'}) }}
  {{ render_field_with_errors(form.post.desc, "Displayed in embeds and in search results.") }}
  <div class="column-2">
    {{ render_field_with_errors(form.post.issue) }}
    {{ render_field_with_errors(form.post.tags) }}
  </div>
  <div class="textarea">
      {{ render_field_with_errors(form.post.body) }}
  </div>
  {% if post %}
      {{ media_gallery(post.media, post.image, form.post.image) }}
  {% else %}
      {{ media_gallery([], None, form.image) }}
  {% endif %}
  {{ render_field_with_errors(form.post.published) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
<script>
    const id = {{ post.id if post else 'null' }};

    const conf = {
        enableTime: true,
        dateFormat: "Y-m-d H:i"
    };
    flatpickr('#start', conf);
    flatpickr('#end', conf);

    new SlimSelect({
      select: '#post-issue'
    });

    const title = $('#post-title');
    const slug = $('#post-slug');
    function generateSlug() {
        if (title.value.length > 0) {
            slug.value = slugify(title.value);
        }
    }
    title.addEventListener('change', (ev) => {
        if (slug.value == '') generateSlug();
    });
    $('#regenerate-slug').addEventListener('click', generateSlug);

    const slugErr = $('#form-field-post-slug .form-field-errors');
    slug.addEventListener('keyup', () => {
        checkSlug(slug.value, id).then((ok) => {
            if (ok) {
                slugErr.innerText = '';
            } else {
                slugErr.innerText = 'This slug is already in use, please choose a different one.';
            }
        });
    });
</script>
{% endblock %}
