{% from "admin/_macros.html" import render_field_with_errors, render_field %}
{% extends 'admin/layout.html' %}

{% block content %}
<h1>Media</h1>
{% if media %}
    <figure class="media-preview">
        {% if media.is_image %}
            <a href="{{ url_for('front.uploads', filename=media.filename) }}">
                <img src="{{ url_for('front.uploads', filename=media.filename) }}"
                    title="{{ media.desc }}"
                    alt="{{ media.desc }}" />
            </a>
        {% endif %}
        <div>
            <a href="{{ url_for('front.uploads', filename=media.filename) }}">
                {{ url_for('front.uploads', filename=media.filename) }}
            </a>
        </div>
        {% if media.is_image %}
            <div>{{ media.width }} x {{ media.height }}</div>
        {% endif %}
    </figure>
{% endif %}
<form method="POST" action="{{ action }}" enctype="multipart/form-data">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {% if not media %}
    {{ render_field_with_errors(form.file) }}
  {% endif %}
  {{ render_field_with_errors(form.desc) }}
  <div class="actions">
    <input type="submit" value="Save">
    <button id="js-delete">Delete</button>
  </div>
</form>
<script>
document.getElementById('js-delete').addEventListener('click', (ev) => {
    ev.preventDefault();
    if (confirm('Are you sure?')) {
        fetch(window.location.href, {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            credentials: 'same-origin',
            method: 'DELETE'
        })
        .then(res => res.json())
        .then((data) => {
            if (data.success) {
                window.location = data.url;
            } else {
                alert('Something went wrong');
            }
        })
        .catch(err => alert(err));
    }
    return false;
});
</script>
{% endblock %}
