{% from "admin/_macros.html" import render_field_with_errors, render_field %}
{% extends 'admin/layout.html' %}

{% block content %}
<h1>Media</h1>
{% if media %}
    <figure class="media-preview">
        <a href="{{ url_for('front.uploads', filename=media.filename) }}">
            <img src="{{ url_for('front.uploads', filename=media.filename) }}"
                title="{{ media.desc }}"
                alt="{{ media.desc }}" />
        </a>
        <div>{{ url_for('front.uploads', filename=media.filename) }}</div>
        <div>{{ media.width }} x {{ media.height }}</div>
    </figure>
{% endif %}
<form method="POST" action="{{ action }}" enctype="multipart/form-data">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {% if not media %}
    {{ render_field_with_errors(form.file) }}
  {% endif %}
  {{ render_field_with_errors(form.desc) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
{% endblock %}
