{% from "admin/_macros.html" import render_field_with_errors, render_field, media_gallery %}
{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>Post</h1>
    <div>
        {% if post %}
            <div><a href="{{ url_for('taozi.post', slug=post.slug, issue=post.issue.slug) }}">
                {% if post.published %}View{% else %}Preview{% endif %}
            </a></div>
        {% endif %}
    </div>
</header>
<form method="POST" action="{{ action }}">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.title) }}
  {{ render_field_with_errors(form.subtitle, "Optional dek/subhead.") }}
  {{ render_field_with_errors(form.slug, extras={'regenerate-slug': '🗘'}) }}
  {{ render_field_with_errors(form.desc, "Displayed in embeds and in search results.") }}
  <div class="column-2">
      {{ render_field_with_errors(form.authors) }}
      <div>
        {{ render_field_with_errors(form.issue) }}
        {{ render_field_with_errors(form.tags) }}
      </div>
  </div>
  <div class="textarea">
      {{ render_field_with_errors(form.body, "You can use markdown. To preview, save and view the post.") }}
  </div>
  {% if post %}
      {{ media_gallery(post.media, post.image, form.image) }}
  {% else %}
      {{ media_gallery([], None, form.image) }}
  {% endif %}
  {{ render_field_with_errors(form.redirect, "Optional; if specified this post will redirect to this url.") }}
  <div class="column-2 published-fields">
      {{ render_field_with_errors(form.published_at) }}
      <div>
          {{ render_field_with_errors(form.published) }}
          {{ render_field_with_errors(form.visible) }}
      </div>
    </div>
  {{ form.media }}
  <div class="actions">
    <input type="submit" value="Save">
    <div id="js-delete-post">Delete</div>
  </div>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $('#js-delete-post').addEventListener('click', () => {
        if (confirm('Are you sure you want to delete this post?')) {
            api.del('').then(res => {
                if (res.success) {
                    alert('Successfully deleted.');
                }
            });
        }
    });

    const conf = {
        enableTime: true,
        dateFormat: "Y-m-d H:i"
    };
    flatpickr('#published_at', conf);

    $('#published').addEventListener('change', (ev) => {
        let pub_at = $('#published_at');
        if (ev.target.checked && pub_at.value == '') {
            let d = new Date();
            pub_at.value = formatDate(d);
        }
        toggleListed();
    });

    function toggleListed() {
        let published = $('#published').checked;
        let parent = $('#visible').parentElement;
        if (published) {
            setStyle(parent, {
                opacity: 1.0,
                filter: '',
                pointerEvents: 'default',
            });
        } else {
            setStyle(parent, {
                opacity: 0.5,
                filter: 'grayscale(1)',
                pointerEvents: 'none',
            });
        }
    }
    toggleListed();

    const title = $('#title');
    const slug = $('#slug');
    function generateSlug() {
        if (title.value.length > 0) {
            slug.value = slugify(title.value);
        };
    }
    title.addEventListener('change', (ev) => {
        if (slug.value == '') generateSlug();
    });
    $('#regenerate-slug').addEventListener('click', generateSlug);

</script>
{% endblock %}
