{% from "_macros.html" import render_field_with_errors, render_field %}
{% from "admin/_macros.html" import markdown_ref %}
{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>Event</h1>
    <div>
        {% if post %}
            <div><a href="{{ url_for("main.post", slug=post.slug, issue=post.issue.slug) }}">
                {% if post.published %}View{% else %}Preview{% endif %}
            </a></div>
        {% endif %}
    </div>
</header>
<form method="POST" action="{{ action }}">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {{ form.post.hidden_tag() }}
  <div class="column-2">
    {{ render_field_with_errors(form.start) }}
    {{ render_field_with_errors(form.end) }}
  </div>
  {{ render_field_with_errors(form.post.title) }}
  {{ render_field_with_errors(form.post.slug) }}
  {{ render_field_with_errors(form.post.desc) }}
  <div class="textarea">
      {{ render_field_with_errors(form.post.body) }}
      {{ markdown_ref() }}
  </div>
  <div class="column-2">
    {{ render_field_with_errors(form.post.issue) }}
    {{ render_field_with_errors(form.post.image) }}
  </div>
  {{ render_field_with_errors(form.post.tags) }}
  {{ render_field_with_errors(form.post.published) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    const conf = {
        enableTime: true,
        dateFormat: "Y-m-d H:i"
    };
    flatpickr('#start', conf);
    flatpickr('#end', conf);
</script>
{% endblock %}
