<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>unbag admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    {% include "_messages.html" %}
    {% if current_user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{{ url_for('admin.posts') }}">Posts</a></li>
                <li><a href="{{ url_for('admin.authors') }}">Authors</a></li>
                <li><a href="{{ url_for('admin.media') }}">Media</a></li>
                <li><a href="{{ url_for('admin.issues') }}">Issues</a></li>
            </ul>
        </nav>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
