{% from "_macros.html" import render_field_with_errors, render_field %}
{% extends 'admin/layout.html' %}

{% block content %}
<h1>Post</h1>
<form method="POST" action="{{ url_for('admin.posts') }}">
  {% include "_messages.html" %}
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.title) }}
  {{ render_field_with_errors(form.body) }}
  {{ render_field_with_errors(form.tags) }}
  {{ render_field_with_errors(form.published) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
{% endblock %}

