@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Source+Sans+Pro');

* {
  box-sizing: border-box;
}
.preload * {
  transition: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img, iframe, video {
  height: auto;
  max-width: 100%;
}

ul, ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin: 0 0 0 1em;
  padding: 0;
}

header.primary-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  padding: 0.5em 1em;
  border-bottom: 1px solid black;
  background: #fff;
  align-items: center;
}
.header--brand {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.75em;
  filter: grayscale(1) brightness(0.4);
  transition: filter 0.2s;
}
.header--brand:hover {
  filter: grayscale(0);
}
.header--meta {
  flex: 1;
  display: flex;
  align-items: center;
}
.header--current-issue {
  border: 1px solid black;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  margin: 0 0.75em 0 0;
  transition: border 0.2s;
  box-shadow: 1px 1px 0 #000;
}
.header--current-issue:hover {
  border-color: #2593ca;
}
.header--current-issue:hover a {
  color: #2593ca;
}
.header--current-issue:hover .header--current-issue-icon {
  background: #2593ca;
}
.header--current-issue-icon {
  transition: background 0.2s;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 4px;
  background-color: black;
  -webkit-mask: url(/assets/triangle.svg) no-repeat center;
  mask: url(/assets/triangle.svg) no-repeat center;
}
.header--current-issue a {
  transition: color 0.2s;
  color: black;
  padding: 0.5em;
  text-decoration: none;
  display: block;
}
.header--current-post {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  padding: 0.2em 0;
  vertical-align: middle;
  position: relative;
  margin-top: 0.4em;
}
a {
  text-decoration: none;
  color: #2593ca;
}
nav {
  text-transform: lowercase;
  line-height: 1.75;
}
nav a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}
nav a:hover {
  color: #2593ca;
}
nav li {
  display: inline-block;
  margin-left: 1em;
}

.issue-current .section-title {
  padding: 2em 0 0 0;
}
.issue-current .issue-link {
  margin: 0 0 1em 0;
}
.issue-current .content {
  margin-top: -2.5em;
  max-width: none;
  text-align: center;
  text-align-last: center;
}

.section-title,
.section-subtitle {
  width: 100%;
  padding: 0.5em;
  display: block;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: black;
  margin: 0;
}
.section-subtitle {
  margin: 1em 0;
  position: relative;
  z-index: 1;
}
.section-subtitle-contents {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 0.7em 1.9em;
}

.issue {
  border-top: 1px solid black;
}
.issue a {
  color: black;
  text-decoration: none;
}
.home-issues {
  padding-top: 3.5em;
}
.focused-issues {
  padding-bottom: 3.5em;
}
.focused-issues .issue:last-of-type {
  border-bottom: 1px solid black;
}
.issue-focused {
  border-top: none;
  padding: 0;
}

.about {
  color: #fff;
  background: #232323;
}
.about .content {
  padding-right: 1em;
  padding-left: 1em;
}
.about .section-title,
.about a {
  color: #fff;
}
.about .section-title {
  margin-top: 1.5em;
}
.content {
  margin: 0 auto;
  padding: 0 1em 4em;
  max-width: 640px;
}
.masthead--group {
  margin: 1.5em 0;
}
.masthead--group, .social p {
  flex: 1 0 50%;
}
.masthead, .social {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
}
.social {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #fff;
}
.social > div {
  flex: 1;
  flex-basis: 50%;
  margin: 0 0 2em 0;
}
.social a {
  text-decoration: underline;
}
.mc-field-group label {
  display: none;
}
#mc_embed_signup {
  max-width: 50%;
}
#mc_embed_signup_scroll {
  display: flex;
}
#mc_embed_signup input, .mce_inline_error {
  font-family: 'Source Sans Pro', sans-serif;
}
#mc_embed_signup input[type=submit] {
  border: none;
  padding: 0.2em 0.6em;
  cursor: pointer;
  margin-left: 1px;
}
#mce-EMAIL {
  width: 100%;
  border: none;
  padding: 0.2em;
}

.issue-current .events {
  border-top: 1px solid black;
}
.events .section-subtitle {
  margin-bottom: 2.5em;
}
.events .content {
  max-width: 960px;
}
.issue--event {
  transition: color 0.2s;
  margin: 1em auto;
  max-width: 480px;
  display: flex;
}
.issue--event img {
  max-width: 80px;
  border: 1px solid black;
  margin-right: 1em;
}
.issue--event h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.3em;
}
.issue--event h6 {
  margin: 0;
  font-weight: normal;
}

.shop .content {
  max-width: 960px;
}
.shop .post--image {
  border: none;
}
.shop .post--image img {
  border: 1px solid black;
}
.shop .section-subtitle-contents {
  padding: 0.7em 2.9em;
}

.issue--post {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 6em;
  transition: color 0.2s;
  text-align: left;
  text-align-last: left;
}
.issue--post a {
  transition: color 0.2s;
}
.issue--post .img-wrap {
  height: 0;
}
.post--image {
  border: 1px solid black;
  transition: border 0.2s;
  position: relative;
}
.post--image:hover {
  border-color: #fff;
}
.post--image:hover .post--print-only {
  color: #fff;
}
.post--category {
  font-family: 'Source Sans Pro', sans-serif;
}
.post--print-only {
  transition: color 0.2s;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}
.issue--post img {
  min-width: 20px;
}
.issue--post h4,
.issue--post h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
}
.issue--post h4 {
  margin: 0.2em 0 0 0;
}
.issue--post h6 {
  line-height: 1.5;
}
figcaption, .small-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
}

.post {
  padding: 6em 1em;
  overflow-x: hidden;
}
.post--header h1 {
  font-size: 2.5em;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}
.post--header h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 0.1em 0;
  text-decoration: underline;
}
.post--header h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}
.post--body h2 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.post--body {
  margin: 2em 0 0 0;
  line-height: 1.6;
}
.post--body a:hover {
  text-decoration: underline;
}
.post--body ol {
  margin-left: 1em;
}
.post--body h3, .post--body h4 {
  text-transform: uppercase;
}
.post--body h3 {
  font-size: 1.8em;
}
.post--body img {
  border: 1px solid black;
  margin: 2em auto;
  display: block;
}
.post--body figure {
  margin: 4em auto;
}
.post--body figure img {
  margin: 0;
}
.post--body figure.half-width {
  width: 50%;
}
.post--body figure.full-width figcaption {
  padding: 0 1.5em;
}
.post--body figure.full-width img {
  width: 100%;
}
.post--body figure.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.post--body p {
  margin: 1em 0;
}
.post--body hr {
  width: 4em;
  margin: 4em auto;
  border: none;
  height: 1px;
  background: black;
}
.post--gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post--gallery__3-row a {
  width: 32%;
}
.post--gallery__3-row img {
  margin: 3% 0;
}

.post-tag-video {
  color: #fff;
  background: #222;
}
.post-tag-audio {
  color: #fff;
  background: #232323;
}
.post-tag-video a,
.post-tag-audio a {
  color: #999;
}

.lum-lightbox.lum-open {
  z-index: 100;
  background: rgba(0,0,0,0.8);
}

/* anchor target fix for sticky header */
.anchor {
  display: block;
  height: 2.7em;
  margin-top: -2.7em;
  position: absolute;
}
.about, .issues {
  overflow: hidden;
}

.footnote {
  font-size: 0.75em;
  font-family: 'Source Sans Pro', sans-serif;
}
.footnote hr {
  display: none;
}
.footnote p {
  margin: 0;
}

.marquee3k {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.marquee3k a {
  color: #000;
}
.marquee3k a:hover {
  color: #2593ca;
}
.marquee3k__copy {
  padding-right: 1em;
  box-sizing: border-box;
}
.marquee3k-size {
  visibility: hidden;
}


.embed-responsive {
   position: relative;
   display: block;
   width: 100%;
   padding: 0;
   overflow: hidden; }
   .embed-responsive::before {
     display: block;
     content: ""; }
   .embed-responsive .embed-responsive-item,
   .embed-responsive iframe,
   .embed-responsive embed,
   .embed-responsive object,
   .embed-responsive video {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 0; }

 .embed-responsive-21by9::before {
   padding-top: 42.85714%; }

 .embed-responsive-16by9::before {
   padding-top: 56.25%; }

 .embed-responsive-4by3::before {
   padding-top: 75%; }

 .embed-responsive-1by1::before {
   padding-top: 100%; }

.mobile-menu {
  position: fixed;
  top: 0.8em;
  right: 0.8em;
  cursor: pointer;
  display: none;
}
.mobile-menu img {
  width: 22px;
}

#donate {
  padding: 4em 1em;
}
#donate h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}
#donate h2 {
  font-weight: normal;
}
#donate img {
  border: 1px solid black;
}

/* Fractured Atlas widget overrides */
#shopping-cart {
  background: none !important;
  z-index: 1;
}

/* Shop */
.product {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 3.5em 0;
}
.product--gallery {
  flex: 1;
  min-width: 60%;
}
.product--info {
  padding: 1em;
  min-width: 380px;
}
.product--info p {
  line-height: 1.6;
}
.product h1 {
  font-size: 2.2em;
  margin-bottom: 0;
  text-transform: uppercase;
}
.product--gallery img {
  display: block;
  margin: 3em 0;
  width: 100%;
  border: 1px solid black;
}
.product--skus {
  margin-top: 2em;
}
.product--sku {
  margin-bottom: 0.6em;
}
.sku {
  display: flex;
  width: 100%;
}
.sku > div {
  flex: 1;
}
.sku input[type=submit] {
  border: 1px solid black;
  color: black;
  height: 28px;
  cursor: pointer;
  padding: 0.2em 0.5em;
  box-shadow: 1px 1px 0 0 black;
  font-family: 'Source Sans Pro', sans-serif;
  transition: color 0.2s, border-color 0.2s;
}
.sku input[type="submit"]:hover {
  background: #fff;
  color: #2593ca;
  border-color: #2593ca;
}
.sku input[type=submit][disabled],
.sku input[type=submit][disabled]:hover {
  cursor: default;
  border: none;
  box-shadow: none;
  color: black;
}
.sku--name {
  text-decoration: underline;
}
.sku--price {
  color: black;
}

.cart, .checkout {
  max-width: 480px;
  margin: 6em auto 12em;
}
.cart table, .checkout table {
  font-size: 0.9em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.cart td:last-child,
.cart .cart--quantity,
.checkout td:last-child {
  text-align: right;
}
.cart tr:last-child,
.checkout tr:last-child {
  font-weight: bold;
  background: #fff;
  color: black;
}
.checkout tr:first-child {
  font-weight: normal;
  background: none;
  color: #000;
}
.cart .cart--update-quantity {
  display: inline;
}
.cart .cart--update-quantity-symbol {
  text-align: center;
}
.cart input[type=submit] {
  border: none;
  padding: 0;
  display: inline;
  cursor: pointer;
}

.checkout .form-field {
  margin: 0 0 0.5em 0;
}
.checkout .form-field label {
  display: block;
}
.checkout .form-field input {
  width: 100%;
}
.checkout .column-2 {
  display: flex;
}
.checkout .column-2 .form-field {
  flex-basis: 50%;
}
.checkout .column-2 .form-field:first-child {
  padding-right: 1em;
}
.checkout input[type=submit],
.checkout button {
  width: 100%;
  display: block;
  margin: 1em 0;
  padding: 0.5em;
  color: #000;
  background: #fff;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid black;
  box-shadow: 1px 1px 0 0 black;
}
.checkout input[type=submit]:hover,
.checkout button:hover {
  background: #eee;
}

.flashes {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
.flashes li {
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.5em;
  box-shadow: 2px 2px 0 black;
  pointer-events: all;
}
.flashes li.error {
  background: #fd3304;
}
a.go-checkout {
  color: #fff;
  border: none;
  font-size: 1em;
  background: #222;
  cursor: pointer;
  padding: 0.2em 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 1px 1px 0 0 black;
}
a.go-checkout:hover {
  background: #333;
}
.flashes a.go-checkout {
  margin-left: 0.5em;
}
.cart a.go-checkout {
  width: 100%;
  display: block;
  margin: 1em 0;
  padding: 0.5em;
  color: #000;
  background: #fff;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 0 0 black;
}
.cart a.go-checkout:hover {
  background: #eee;
}

.thanks {
  margin: 6em auto 3em auto;
  text-align: center;
}

.store, .store .shop {
  background: #48a4d8;
}
.store--product {
  background: #fff;
}

@media only screen and (max-width: 640px) {
  .issue--post {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
  }
  .issue--post img {
    width: 100%;
  }
  .content {
    padding: 0 2em 4em 2em;
  }
  .header--current-post {
    display: none;
  }
  header.primary-header {
    display: block;
    padding: 0;
  }
  .header--meta {
    padding: 0.5em 1em;
  }
  nav {
    border-top: 1px solid black;
    padding: 0.5em;
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1;
    display: block;
    margin: 0;
    text-align: center;
  }
  .mobile-menu {
    display: block;
  }
  .masthead, .social {
    display: block;
  }
  .post .content {
    padding-left: 0;
    padding-right: 0;
  }

  /* sticky hover fix for mobile */
  .header--current-issue:hover {
    border-color: black;
  }
  .header--current-issue:hover a {
    color: black;
  }
  .header--current-issue:hover .header--current-issue-icon {
    background: black;
  }
  nav a:hover {
    color: black;
  }

  .product {
    display: block;
  }
}
