@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Source+Sans+Pro');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  display: flex;
  justify-content: justify;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid black;
  background: #fff;
}
.header--brand {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.75em;
}
.header--meta {
  flex: 1;
}
.header--current-issue {
  padding: 0.5em;
  border: 1px solid black;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  margin: 0 0.75em 0 0;
}
.header--current-post {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  display: inline-block;
}
nav {
  text-transform: lowercase;
  line-height: 1.75;
}
nav a {
  color: black;
  text-decoration: none;
}
nav li {
  display: inline-block;
  margin-left: 1em;
}

.issue-focused {
  padding: 2em 2em 4em 2em;
}
.issue-focused .issue-link {
  margin: 0 0 1em 0;
}

.section-title {
  width: 100%;
  padding: 1em;
  display: block;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: black;
  margin: 0;
}
.issue {
  border-top: 1px solid black;
}
.issue a {
  color: black;
  text-decoration: none;
}
.issue:first-of-type {
  border-top: none;
}

.about {
  color: #fff;
  background: #222;
}
.about .section-title,
.about a {
  color: #fff;
}
.content {
  margin: 0 auto;
  padding: 0 0 4em 0;
  max-width: 640px;
}
.masthead--group {
  margin: 1.5em 0;
}
.masthead, .social {
  margin-top: 4em;
}

.issue--post {
  max-width: 30%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 1em;
}
.issue--post img {
  max-width: 100%;
  min-width: 20px;
  border: 1px solid black;
}
.issue--post h4,
.issue--post h6 {
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
}
.issue--post h6 {
  line-height: 1.5;
}
